* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* h1{
  padding: 20px;
} */
.p1 {
  color: white;
  width: auto;
  margin: auto;
  background-image: url('photo/sport.jpg');
  background-size: cover;

}

.container {
  text-align: center;
  padding: 200px;

}

input {
  font-size: 18px;
  padding: 12px 24px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 10px;
}

input:hover {
  border-color: #000;
  background-color: #ccc;
}

input:active {
  border-color: #000;
  background-color: #999;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 10px;
}

button:hover {
  border-color: #000;
  background-color: rgb(163, 241, 99);
}

button:active {
  border-color: #000;
  background-color: #999;
}


#input {
  padding: 100px;
}

p {
  font-size: x-large;
}

forme {
  width: 400px;
  /* Largeur du formulaire */

}


h3 {
  /* background-color: aquamarine; */
  padding: auto;
  margin: auto;

}

.container_question {
  text-align: center;
}

#question1 {
  background-image: url('photo/monde.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#question2 {
  background-image: url('photo/afrique.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#question3 {
  background-image: url('photo/ballon.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.container2 {
  text-align: center;
}
#basket1 {
  background-image: url('photo/nba.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#basket2 {
  background-image: url('photo/Volley-ball.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#basket3 {
  background-image: url('photo/rugby.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.container3 {
  text-align: center;
}
#basket1 {
  background-image: url('photo/rugbyp3.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#basket2 {
  background-image: url('photo/kylian.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#basket3 {
  background-image: url('photo/roger.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}